.bubble {
  position: fixed;
  background-color: black;
  border-radius: 4px;
  color: #ffffff;
  font-family: Arial;
  padding: 8px 12px;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  opacity: 0;
  z-index: 999;

  &::before {
    content: '\25BC';
    width: 0;
    height: 0;
    position: absolute;
    font-size:24px;
  }

  &--visible {
    opacity: 1;
    transition: opacity 300ms;
  }

  &--light {
    background-color: lightblue;
    color: black;

    &::before {
      border: 0;
      color: lightblue;
    }
  }

  &--dark {
    background-color: black;
    color: white;

    &::before {
      border: 5px solid black;
    }
  }

  &--below {
    transform:translateX(-50%);
    margin-top: 7px;

    &::before {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: none;
      left: calc(50% - 5px);
      top: -5px;
    }
  }

  &--upper {
    transform:translate(-20%, -85%);
    margin-bottom: 7px;

    &::before {
      left: calc(25% - 5px);
      bottom: 4px;
      transform:rotate(10deg);
    }
  }

  &--above {
    transform:translate(-70%, -120%);
    margin-bottom: 7px;

    &::before {
      left: calc(25% - 5px);
      bottom: 4px;
      transform:rotate(10deg);
    }
  }

  &--right {
    transform:translate(10px, -50%);
    margin-left: 7px;

    &::before {
      left: 8px;
      top: calc(50% - 5px);
      transform:rotate(110deg);
    }
  }

}