@use "../help.scss";
@use "./shared.scss";

.fat {
  min-width: 562px;
}

.notice {
  background-color: lightgray;
  padding: 4px;
}

.tip {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.flow {
  position: relative;
}

.flow-img {
  width: 350px;
  cursor: pointer;
  position: absolute;
  left: 300px;
  top: -37px;
}

.flow-img2 {
  @extend .flow-img;
  top: 275px;
}

.flow-dialog {
  width: 80vw;

  .zoomed-flow {
    width: 100%;
    max-width: 852px;
    cursor: zoom-in;
  }

  a:hover,
  a:visited,
  a:active,
  a:link {
    text-decoration: none;
  }

  a:focus {
    outline: none;
  }

  .mat-mdc-dialog-content {
    max-height: unset;
  }
}

