.editable {
    display:flex;
    align-items: center;
}

.readonly {
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: inherit;
}

.writeable {
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    font-size: inherit;
}

.readonly:hover {
    cursor: pointer;
    border: 1px dashed lightgray;
}

.check {
    cursor: pointer;
    font-size: 17px;
    position:relative;
/*    left: 272px;*/
    top: 3px;
    z-index: 999;
}

/*
.cell {
    border: 2px solid transparent;
    padding: 11px 20px;
    width: 100%;
    height: 100%;
}
.cellInput {
    border: 2px solid transparent;
    padding: 11px 20px;
    width: 100%;
    height: 100%;
}*/