<div class="container">
  <div class="content">
    <div>
      <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"
        [style.visibility]="showProgress ? 'visible' : 'hidden'">
      </mat-progress-spinner>
      <h1>Create A New User</h1>
      @if (authenticated) {
        <p>
          You are already signed in as <b>"{{currentUserName}}"</b> and can
          <a href="javascript:void(null);" role="button" [routerLink]="'/'">
          encrypt and decrypt data as "{{currentUserName}}"</a>.
          If you still want to create a new user identity, continue below.
        </p>
      }
      @if (currentUserName && !authenticated) {
        <p>
          You have an existing user called <b>"{{currentUserName}}"</b> and can
          <a href="javascript:void(null);" role="button" (click)="onClickSignin()">
          sign in as "{{currentUserName}}"</a>.
          If you want to create a new user identity instead, continue on.
        </p>
      }
      <p>
        Enter a user name below and click <b>Create new user and passkey</b> (an email address is allowed but not required). Quick Crypt will instruct your
        browser or password manager to save your new
        <span class="tip" matTooltip="You can create a
        passkey from a physical FIDO2
        device, a mobile phone, a browser based password manager, or a dedicated password
        manager. Dedicated password managers like Bitwarden and 1Password are
        the easiest to use, work consistently across devices, and support backup.">
        passkey</span>. Just follow the prompts to complete the process.
        <a [routerLink]="'/help/faqs'" [queryParams]="{search: 'user creation failing'}"
          class="help-link" matTooltip="Help with user creation" target="_blank">
          <mat-icon class="help-icon">help_outline</mat-icon>
        </a>
      </p>
      <div class="control-host">
        <mat-form-field class="user-name">
          <input matInput
            id="userName"
            #userName
            placeholder="user name"
            autofocus type="text"
            autocomplete="off"
            data-1p-ignore
            data-bwignore
            data-lpignore="true"
            data-form-type="other"
            [(ngModel)]="newUserName" />
        </mat-form-field>
        <button mat-raised-button (click)="onClickNewUser($event)">
          <span>Create new user and passkey</span>
        </button>
      </div>
      <div class="error-msg">
        <p>{{error}}</p>
      </div>
    </div>
  </div>
</div>