@use "../common.scss";
@use '@angular/material' as mat;

.error-msg {
  color: var(--mat-sys-error);
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.control-host {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;

  .user-name {
    width: 280px;
    margin-top: 1x;
    @include mat.form-field-density(-3);
  }

  button {
    @include common.strong-button;
    height: 45px;
    width: 280px;
  }
}

.help-link {
  color: var(--mat-sys-on-surface-variant);

  &:hover {
    color: var(--mat-sys-primary);
  }
}

.help-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-top: -2px;
}

.tip {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}