@use "../common.scss";
@use '@angular/material' as mat;

.error-msg {
  color: darkred;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.control-host {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;

  .user-name {
    width: 280px;
    margin-top: 1x;
    @include mat.form-field-density(-3);
  }

  button {
    @include common.strong-button;
    height: 45px;
    width: 280px;
  }
}

.tip {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}