@use "../help.scss";
@use '@angular/material' as mat;

// because we disable view encapsulation for innerHTML in answers
.faq {
  .control-host {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .filter {
    max-width: 390px;
    flex: 2;
    @include mat.form-field-density(-3);
  }

  .faq-table {
    // below smallest if can be w/ou awkward word breaks
    // (currently limited by table of info storage in faqs)
    min-width: 340px;
    width: 100%;
  }

  .mat-column-position,
  .mat-column-question {
    font-size: 16px;
    background-color: whitesmoke;
  }

  .mat-column-position {
    width: 58px;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row:hover {
    .mat-column-position,
    .mat-column-question {
      background-color: white;
    }
  }

  .header-data {
    color: white;
    background-color: #8a8fb2;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
    border-top: 1px dotted lightsteelblue;
  }

  .element-detail.expanded {
    grid-template-rows: 1fr;

    .element-answer {
      padding: 9px 0 9px 0;
    }
  }

  .element-answer {
    overflow: hidden;
    font-size: 16px;
  }

  .empty-data {
    font-size: 16px;
    padding: 12px;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 3px solid #ccc;
    padding: 0.5em 10px;
  }
  blockquote p {
    display: inline-block;
  }

  li {
    margin-top: 8px;
  }

  li.long {
    word-break: break-all;
  }

  .tg {
    border-collapse: collapse;
    border-color: #ccc;
    border-spacing: 0;

    td {
      background-color: #fff;
      border-color: #ccc;
      border-style: solid;
      border-width: 1px;
      color: #333;
      font-size: 15px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }
    th {
      background-color: #f0f0f0;
      border-color: #ccc;
      border-style: solid;
      border-width: 1px;
      color: #333;
      font-size: 15px;
      font-weight: normal;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }

    .tg-fymr {
      border-color: inherit;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
    }

    .tg-0pky {
      border-color: inherit;
      text-align: left;
      vertical-align: top;
    }
  }
}
