<div class="container">
  <div class="content">
    <div>
      <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"
        [style.visibility]="showProgress ? 'visible' : 'hidden'">
      </mat-progress-spinner>
      <h1>Create A New User</h1>
      <p *ngIf="authenticated">
        You are already signed in as <b>"{{currentUserName}}"</b> and can
        <a href="javascript:void(null);" role="button" [routerLink]="'/'">
          encrypt and decrypt data as "{{currentUserName}}"</a>.
        If you want to create a new user identity instead, continue on.
      </p>
      <p *ngIf="currentUserName && !authenticated">
        You have an existing user called <b>"{{currentUserName}}"</b> and can
        <a href="javascript:void(null);" role="button" (click)="onClickSignin()">
          sign in as "{{currentUserName}}"</a>.
        If you want to create a new user identity instead, continue on.
      </p>
      <p>
        To encrypt and decrypt data, Quick Crypt uses passwords you enter along
        with a user credential accessible only with passkeys. <span class="tip" matTooltip="You can create a passkey with a physical FIDO2
        device, a mobile phone, a browser based password manager, or a dedicated password
        manager. We find that dedicated password managers like Bitwarden or 1Password are
        the easiest to use, work consistently across devices, and support backup.">
          Passkeys</span>
        are a modern way to prove your identity and prevent
        identity theft without requiring personally identifying information.
      </p>
      <p>
        When you enter a user name and click the <b>Create new user and passkey</b> button,
        Quick Crypt creates a passkey and assigns it the user name you entered
        to help you remember the passkey's purpose. You can enter any value
        you want as long as the length is 6 to 31 characters. An email address
        is acceptable, but not required.
      </p>
      <p>
        After clicking the button below, you may be given
        an option to either create or update a passkey on your system. If you see
        that option, choose to create a new passwkey.
      </p>
      <div class="control-host">
        <mat-form-field class="user-name">
          <mat-label>User Name</mat-label>
          <input matInput
          autofocus type="text"
          autocomplete="off"
          data-1p-ignore
          data-bwignore
          data-lpignore="true"
          data-form-type="other"
          [(ngModel)]="newUserName" />
        </mat-form-field>
        <button mat-raised-button (click)="onClickNewUser($event)" color="primary">
          <span>Create new user and passkey</span>
        </button>
      </div>
      <p class="error-msg">{{error}}</p>
    </div>
  </div>
</div>