<div *ngIf="!completed" class="newuser">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"
        [style.visibility]="showProgress ? 'visible' : 'hidden'">
    </mat-progress-spinner>
    <p class="header">Create A New User</p>
    <p class="descrip">
        Quick Crypt uses passkeys, along with your own per message password, to encrypt
        message and help ensure that an untrusted website cannot easily
        trick you into exposing unencrypted data. Quick Crypt associates your passkey
        with a user name, which must be 6 to 31 character long. The user name should help
        you remember what it is used for. An email address acceptable, but not required.
        If needed, you can create multiple user accounts each with one or more passkeys.
    </p>
    <p class="descrip">
        When you click the <b>Create new user and passkey</b> button below, you should
        be promoted to
        create or update a passkey on your system. You should choose to create a new
        passwkey. You can create a passkey using physical FIDO2 device, a mobile device,
        a browser based password manager, or a dedicated password manager. We find that
        dedicated password managers like Bitwarden or 1Password are the easiest to use,
        work consistently across devices, and allow for backup.
    </p>
    <p *ngIf="currentUserName" class="descrip">
        There is an existing Quick Crypt user on this system called "{{currentUserName}}". Instead of creating a
        new user, you can
        <a href="javascript:void(null);" role="button" (click)="onClickSignin()">
            sign in as <b>{{currentUserName}}</b>
        </a>
    </p>
    <div>
        <mat-form-field class="">
            <mat-label>User Name</mat-label>
            <input matInput type="text" [(ngModel)]="newUserName" />
        </mat-form-field>
        <button mat-raised-button (click)="onClickNewUser($event)" color="primary">
            <span>Create new user and passkey</span>
        </button>
    </div>
    <p class="error-msg">{{error}}</p>
</div>
<div *ngIf="completed" class="newuser">
    <p>
        Congratulation, you successfully created a new user and passkey. You can manage
        credentials in the side-panel by clicking the menu button in the toolbar.
    </p>
    <p>
        Before you start using Quick Crypt, there is one more <b>very important</b> task.
        Copy the recovery link below and save it in a secure location, seperate from your
        passkey. Never let anyone else get access to your recovery link.

        If you lose your passkey in the future, this link is the only way to restore
        access. If you lose both your passkeys and this link, you will not be able to
        decrypt previously encypted data.
    </p>
    <mat-form-field class="recovery">
        <mat-label>Recovery Link</mat-label>
        <input matInput type="text" [value]="recoveryLink" readonly="true" name="recovery" />
<!--        <button matSuffix mat-icon-button aria-label="Copy" (click)="toastMessage('Link Copied to Clipboard')"
            [cdkCopyToClipboard]="recoveryLink">-->
            <mat-icon matSuffix aria-label="Copy" (click)="toastMessage('Link Copied to Clipboard')"
                [cdkCopyToClipboard]="recoveryLink">
                    content_copy
            </mat-icon>
   <!--      </button>-->
    </mat-form-field>
    <br />
    <a [routerLink]="'/'">
        <button mat-fab extended color="primary" class="button">
            <span class="button-label">I saved my recovery key securely</span>
        </button>
    </a>

</div>