<div class="container">
  <div class="content">
    <div>
      <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"
        [style.visibility]="showProgress ? 'visible' : 'hidden'">
      </mat-progress-spinner>
      <h1>Create A New User</h1>
      <p *ngIf="authenticated">
        You are already signed in as <b>"{{currentUserName}}"</b> and can
        <a href="javascript:void(null);" role="button" [routerLink]="'/'">
          encrypt and decrypt data as "{{currentUserName}}"</a>.
        If you still want to create a new user identity, continue below.
      </p>
      <p *ngIf="currentUserName && !authenticated">
        You have an existing user called <b>"{{currentUserName}}"</b> and can
        <a href="javascript:void(null);" role="button" (click)="onClickSignin()">
          sign in as "{{currentUserName}}"</a>.
        If you want to create a new user identity instead, continue on.
      </p>
      <p>

        To encrypt and decrypt data, Quick Crypt uses passwords you enter along
        with a user credential accessible only with passkeys.
        <span class="tip" matTooltip="You can create a
        passkey from a physical FIDO2
        device, a mobile phone, a browser based password manager, or a dedicated password
        manager. Dedicated password managers like Bitwarden and 1Password are
        the easiest to use, work consistently across devices, and support backup.">
          Passkeys</span>
        are a modern way to prove your identity and reduce
        identity theft without requiring personally identifiable information.
      </p>
      <p>
        Enter a user name below that is 6 to
        31 characters long. An email address is acceptable but not required.
        Then click <b>Create new user and passkey</b> and Quick Crypt will
        create a passkey with the name you entered. Your browser or
        password manager should prompt you to either create or update a passkey
        on your system. When you see that option, choose to create a new passkey.
      </p>
      <p>
        If you cannot create a new user, please
        <a href="https://github.com/bschick/qcrypt/issues/new/choose" target="_blank">
        report the issue</a>.
      </p>
      <div class="control-host">
        <mat-form-field class="user-name">
          <input matInput
          id="userName"
          #userName
          placeholder="user name"
          autofocus type="text"
          autocomplete="off"
          data-1p-ignore
          data-bwignore
          data-lpignore="true"
          data-form-type="other"
          [(ngModel)]="newUserName" />
        </mat-form-field>
        <button mat-raised-button (click)="onClickNewUser($event)">
          <span>Create new user and passkey</span>
        </button>
      </div>
      <div class="error-msg">
        <p>{{error}}</p>
      </div>
      </div>
  </div>
</div>