@use "../common.scss";
@use "@angular/material" as mat;

.description {
  margin-top: 10px;
  width: 100%;
}

.step-control {
  margin-top: 15px;
}

.participants {
  width: 110px;
}

.editable {
  /*    width: 100%;
    height: 24px;*/
  font-size: 14px;
}

:host ::ng-deep .participants .mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.participant-table {
  margin-top: 15px;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 12px;
  overflow: hidden;
  width: 100%;

  th {
    background-color: var(--mat-sys-surface-variant);
  }

  th, td {
    border-color: var(--mat-sys-outline-variant);
  }

  tr:last-child td {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  .add-participant-footer {
    padding: 0 8px;

    .add-participant-btn {
      font-weight: 500;
      margin: 8px 0;
    }
  }

  .invitable {
    width: 300px;
  }

  .tdcommon {
    padding: 0 8px;
  }

  .tdbutton {
    width: 75px;
  }
  
  .error-text {
    color: var(--mat-sys-error);
  }
}


.add-button {
  @include common.strong-button;
  margin-top: 15px;
  height: 45px;
  width: 230px;
  padding: 0;
  font-size: 15px;
}

.core {
  padding: 15px;
  min-width: 632px;
}

:host ::ng-deep {
  // Remove the default padding from the stepper content container
  .mat-mdc-horizontal-stepper-content,
  .mat-horizontal-content-container {
    padding: 0 !important;
  }
}