.algtable {
  margin-top: 0px;
  min-width: 10px;

  .loop {
    margin:0;
    padding: 0 4px 8px 0;
    border: none;
  }

  .alg {
    width:0.1%;
    border: none;
  }
}

.mode {
  margin: 0 0 12px;
}

.algoption {
  width: 185px;
  font-size: 14px;
}