<div class="container">
  <div class="content">
    <h1>Account Backup and Recovery</h1>
    <p>
      The recovery word pattern below is needed to recover your account and
      decrypt your data if you lose access to all your Quick Crypt passkeys. If
      you lose both your passkeys and your recovery sheet, you will permanently
      lose access to your encrypted data. Because these words can only be
      displayed once, please follow these steps carefully:
    </p>
    <ol class="instructions">
      <li>
        Print your emergency recovery sheet now, which includes your word
        pattern.
      </li>
      <li>
        Store the printout in a secure and durable location,
        <b>separate from your passkeys.</b>
      </li>
      <li>
        Optionally, also store just the recovery word pattern in a password
        manager.
      </li>
      <li>
        Do not allow untrusted parties to access any of your recovery
        information.
      </li>
    </ol>
    <p>
      We recommend printing a physical copy of your emergency recovery sheet and
      storing the printout offline because someone with access to your recovery
      words and your user credential could delete your Quick Crypt account and
      weaken your encryption strength.
    </p>
    @if (unconfirmed) {
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>⚠️ Not Confirmed</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Quick Crypt could not reach the server to confirm these recovery
            words replaced
            @if (replacedLink) {
              your recovery link. <b>Keep both your recovery link</b>
            } @else {
              your previous recovery words.
              <b>Keep both your current recovery words</b>
            }
            <b>
              and these new recovery words until you determine which is active.
            </b>
            <br />Use the
            <a [routerLink]="'/checkrecovery'">check recovery page</a>
            to determine which is active.
          </p>
        </mat-card-content>
      </mat-card>
    } @else {
      @if (replacedLink) {
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>⚠️ Attention</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              These recovery words and the emergency recovery sheet have now
              replaced your old recovery link.
              <b>
                Delete your old recovery link and replace it with the word
                pattern and emergency sheet provided below.
              </b>
            </p>
          </mat-card-content>
        </mat-card>
      }
      @if (replacedWords) {
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>⚠️ Attention</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              These recovery words and the emergency recovery sheet have now
              replaced your previous information.
              <b
                >Replace all saved copies of your old recovery information with
                the word pattern and emergency sheet provided below.</b
              >
            </p>
          </mat-card-content>
        </mat-card>
      }
    }
    <div class="control-host">
      @if (!error) {
        <mat-form-field class="recovery">
          <div class="toolbar">
            <button
              mat-icon-button
              aria-label="Copy"
              (click)="toastMessage('Copied to clipboard')"
              [cdkCopyToClipboard]="recoveryWords.value!">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>

          <mat-label>Recovery Word Pattern</mat-label>
          <textarea
            #wordsArea
            id="wordsArea"
            matInput
            type="text"
            [formControl]="recoveryWords"
            readonly="true"
            class="words-area"></textarea>
        </mat-form-field>
        <div class="button-stack">
          <button
            class="task-button"
            mat-raised-button
            (click)="onClickPrint()">
            Print emergency recovery sheet
          </button>
          <a [routerLink]="'/'">
            <button
              class="task-button"
              mat-raised-button
              (click)="onClickSaved()">
              I saved my recovery words securely
            </button>
          </a>
        </div>
      } @else {
        <button class="task-button" mat-raised-button (click)="reloadData()">
          Try again
        </button>
      }
    </div>
    <div class="error-msg">
      <p>{{ error }}</p>
    </div>
  </div>
</div>
@if (sheetUserCred) {
  <app-recovery-sheet
    [userName]="authSvc.userName"
    [recoveryWords]="recoveryWords.value!"
    [userCred]="sheetUserCred" />
}
