<div class="container">
  <div class="content">
    <h1>Save Your Recovery Link</h1>
    <p>
      You must <b>save this recovery link securely</b> and
      separately from your passkeys if possible. If your Quick Crypt passkeys are
      lost or damaged, this link is the only way to restore your ability
      to decrypt data. You can also use this link to decrypt data with
      the Quick Crypt command-line tool.
    </p>
    <p>
      <b>Keep this recovery link private</b>. While another
      person with this link cannot decrypt your data without the passwords
      you use during encryption, they could delete your Quick Crypt account
      making it less convenient to decrypt your data.
      So be sure to keep this link private.
    </p>
    <div class="control-host">
      <mat-form-field class="recovery">
        <mat-label>Recovery Link</mat-label>
        <input #linkInput id="linkInput" matInput autofocus type="text" [value]="recoveryLink" readonly="true"
          name="recovery" (focus)="linkInput.select(); linkInput.scrollLeft=0;" />
        <mat-icon matSuffix aria-label="Copy" (click)="toastMessage('Link Copied to Clipboard')"
          [cdkCopyToClipboard]="recoveryLink">
          content_copy
        </mat-icon>
      </mat-form-field>
      <a [routerLink]="'/'">
        <button mat-raised-button>
          I saved my recovery key securely
        </button>
      </a>
    </div>
  </div>
</div>