@use "../common.scss";


.control-host {
  margin-top: 50px;
  display: flex;
  align-items: start;
  justify-content: center;

  .recovery {
    width: 100%;
  }

  button {
    height: 45px;
    width: 280px;
    margin-top: 5px;
    margin-left: 50px;
  }
}