@use "../common.scss";
@use '@angular/material' as mat;


.control-host {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
  justify-content: space-evenly;

  .recovery {
    width:300px;
    @include mat.form-field-density(-1);
  }

  button {
    height: 45px;
    width: 280px;
    margin-top: 3px;
  }
}