.container {
  display: flex;
  align-items: start;
  justify-content: center;
}

.spinner {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10%;
  left: 50%;
  margin: -50px 0 0 -50px;
  z-index: 999;
}

.content {
  padding: 30px;
  max-width: 750px;
}

@mixin doc-font {
  font-size: 16px;
  line-height: 22px;
}

.content p,
li {
  @include doc-font;
}

h2 {
  margin: 16px 0 6px 0;
}
