@use "@angular/material" as mat;

.mtop0 {
  margin-top: 0px;
}

.mtop10 {
  margin-top: 10px;
}

.mtop20 {
  margin-top: 20px;
}

.mtop35 {
  margin-top: 35px;
}

.mleft15 {
  margin-left: 15px;
}

.mleft35 {
  margin-left: 35px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-width: 400px;
}

.spinner {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10%;
  left: 50%;
  margin: -50px 0 0 -50px;
  z-index: 999;
}

.content {
  padding: 30px;
  max-width: 750px;
  width: 100%;
}

.close-button3 {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 999;
}

// $red-pwd-color: darkred;
// $yellow-pwd-color: darkgoldenrod;
// $green-pwd-color: darkgreen;

:root {
  --red-pwd-color: darkred;
  --yellow-pwd-color: darkgoldenrod;
  --green-pwd-color: darkgreen;
}


@mixin strong-button {
  background-color: var(
    --mat-button-filled-container-color,
    var(--mat-sys-primary)
  );

  color: var(--mat-button-filled-label-text-color, var(--mat-sys-on-primary));
}

@mixin doc-font {
  font: var(--mat-sys-body-large);
}

.content {
  p,
  li {
    @include doc-font;
  }

  h2 {
    font: var(--mat-sys-headline-small);
    font-size: 1.25rem;
    margin: 16px 0 6px 0;
  }

  h1 {
    font: var(--mat-sys-headline-small);
    margin-top: 0;
  }
}

.github {
  display: block;
  text-align: right;
  margin-top: 50px;

  a {
    text-decoration: none;
  }

  button {
    background-color: var(
      --mat-button-filled-container-color,
      var(--mat-sys-primary)
    );
    opacity: 0.6;
    height: 36px;
    padding-left: 16px;
    padding-right: 9px;
  }
}

.github-label {
  margin: 0 0 0 -4px;
  color: white;
}
