@use "../common.scss";
@use "@angular/material" as mat;


.control-host {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
  justify-content: space-evenly;

  .recovery {
    min-width: 380px;
    @include mat.form-field-density(-1);
  }

  .button {
    @include common.strong-button;
    height: 45px;
    min-width: 280px;
    margin-top: 3px;
  }

  .button2 {
    @extend .button;
    margin-top: 15px;
  }

  .words-area {
    resize: none;
    margin-top: 10px;
    min-height: 110px;
  }

}

.error-msg {
  color: darkred;
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}


.confirm {
  max-width: 430px;

  div {
    font-size: 16px;
  }

  .heading {
    margin-bottom: 5px;
  }

  .message {
    padding-bottom: 0;
  }

  .actions {
    padding-left: 20px;
  }

}