<div class="container">
  <div class="content">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"
      [style.visibility]="showProgress ? 'visible' : 'hidden'">
    </mat-progress-spinner>
    <h1>Account Recovery</h1>
    <div>
      <p>
        Enter your recovery words below and click <b>Start recovery</b> to
        regain access to your account if you have lost or damaged
        your Quick Crypt passkeys. Quick Crypt will remove all existing
        passkeys and guide you through creating a new one. You should also
        delete the old passkeys from your passkey management tool. Once
        your new passkey is created, you can again decrypt cipher text
        using your encryption passwords.
      </p>
      @if(ready) {
        @if(currentUserName && !authenticated) {
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>Note:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                There is an existing Quick Crypt user on this system called <b>"{{currentUserName}}"</b>.
                Instead of starting the recovery process, you may want to
                <a href="javascript:void(null);" role="button" (click)="onClickSignin()">
                  sign in as <b>{{currentUserName}}</b>.
                </a>
              </p>
            </mat-card-content>
          </mat-card>
        } @else if(authenticated) {
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>Note:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                You are already signed in as <b>"{{currentUserName}}"</b>. If you do not
                need to recover this user, you can
                <a routerLink="/">continue to encrypt and decrypt data</a>.
              </p>
            </mat-card-content>
          </mat-card>
        }

        <div class="control-host">
          <mat-form-field class="recovery">
            <mat-label>Recovery Word Pattern</mat-label>
            <textarea #wordsArea id="wordsArea" matInput autofocus type="text" [formControl]="recoveryWords"
              class="words-area"></textarea>
          </mat-form-field>
          <div>
            <button class="button" mat-raised-button (click)="onClickStartRecovery($event)">
              Start recovery
            </button>
            @if(error) {
              <br />
              <a [routerLink]="'/newuser'">
                <button mat-raised-button class="button2">
                  Create new user from scratch
                </button>
              </a>
            }
          </div>
          <div class="error-msg">{{error}}</div>
        </div>
      }
    </div>
  </div>
</div>