.bubble {
  position: fixed;
  background-color: black;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 12px;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  opacity: 0;
  z-index: 999;

  &::before {
    content: '';
    position: absolute;
    background-color: inherit;
  }

  &--visible {
    opacity: 1;
    transition: opacity 300ms;
  }

  &--light {
    background-color: lightblue;
    color: black;
  }

  &--dark {
    background-color: black;
    color: white;
  }

  &--below {
    transform:translateX(-50%);
    margin-top: 7px;

    &::before {
      width: 16px;
      height: 18px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      left: calc(50% - 8px);
      top: -17px;
    }
  }

  &--upper {
    transform:translate(-20%, -85%);
    margin-bottom: 7px;

    &::before {
      width: 16px;
      height: 18px;
      clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
      left: calc(25% - 8px);
      bottom: -15px;
      transform:rotate(10deg);
    }
  }

  &--above {
    transform:translate(-70%, -110%);
    margin-bottom: 7px;

    &::before {
      width: 16px;
      height: 18px;
      clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
      left: calc(25% - 8px);
      bottom: -15px;
      transform:rotate(10deg);
    }
  }

  &--right {
    transform:translate(10px, -50%);
    margin-left: 7px;

    &::before {
      width: 18px;
      height: 16px;
      clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
      left: -17px;
      top: calc(50% - 8px);
    }
  }

}