<div class="editable">
  <input
    #editableInput
    type='text'
    [id]="id"
    [readonly]="readonly"
    [ngClass]="writing ? 'writing' : (readonly ? 'readonly' : 'writable')"
    [(ngModel)]='text'
    (focusout)='onFocusOut()'
    (focus)='tryMakeEditable()'
    [minlength]='minlength'
    [maxlength]='maxlength'
    (keydown.enter)='acceptEdit($event)'
    (keydown.escape)='cancelEdit($event)'
    data-1p-ignore
    data-bwignore
    data-lpignore="true"
    data-form-type="other"
  />
  <mat-icon
    aria-label="Accept"
    class="check"
    [style.visibility]="writing ? 'visible' : 'hidden'"
    (click)='editableInput.blur()'>
        done
  </mat-icon>
</div>