<div class="container">
  <div class="content">
    <h1>Quick Crypt: <i>Easy, Trustworthy Personal Encryption</i></h1>

    <p>Welcome to Quick Crypt. To get started, select an option below.
      If you'd like to learn more first, see the <a [routerLink]="'/help/overview'">
        overview page</a> or <a [routerLink]="'/help/faqs'">frequently asked
        questions</a>. If you are a returning user but cannot sign in or locate
      your passkey, select the last button for help.
    </p>
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"
      [style.visibility]="showProgress ? 'visible' : 'hidden'">
    </mat-progress-spinner>
    <div class="button-column">
      <a [routerLink]="'/newuser'">
        <button mat-raised-button class="button">
          <!--<mat-icon>vpn_key</mat-icon>--><span class="">I am new to Quick Crypt</span>
        </button>
      </a>
      <button mat-raised-button (click)="onClickExisting($event)" class="button">
        <!--<mat-icon>login</mat-icon>--><span class="">I have used Quick Crypt previously</span>
      </button>
      <button mat-raised-button (click)="onClickRecovery($event)" class="button">
        <!--<mat-icon>vpn_key</mat-icon>--><span class="">I am returning but cannot sign-in</span>
      </button>
      <p class="error-msg">{{error}}</p>
    </div>
  </div>
</div>