@use "../common.scss";

.button-column {
  margin-top: 35px;
  display: flex;
  height: 234px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.button {
  margin-top: 15px;
  height: 45px;
  width: 330px;
  padding: 0;
}

.error-msg {
  color: darkred;
  margin-top: 32px;
  display: block;
}

.recovery {
  max-width: 575px;

  .header {
    margin: 0 0 1px 0;
  }

  .steps {
    padding-left: 18px;
  }

  .steps li {
    margin-bottom:10px;
  }

  .dialog-content {
    min-height: 350px;
    padding-top: 10px;
  }

  .close-button3 {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 999;
  }
}
