<div class="credentials">
  <p class="header">Passkeys for:
    <button class="refresh" mat-icon-button aria-label="Refresh" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
    <br />
    <app-editable class="username" minlength=6 maxlength=31 [value]="authSvc.userName!"
      (valueChanged)="onUserNameChanged($event)">
    </app-editable>
  </p>

  <table mat-table [dataSource]="passKeys" class="mat-elevation-z2 credtable">
    <ng-container matColumnDef="image">
      <td mat-cell class="tdcommon" *matCellDef="let element">
        <img src="{{element.lightIcon}}" alt="{{element.name}}" matTooltip="{{element.name}}" class="cred-img" />
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <td mat-cell class="tdcommon tddescription" *matCellDef="let element">
        <app-editable class="editable" minlength=6 maxlength=42 [value]="element.description"
          (valueChanged)="onDescriptionChanged($event, element)">
        </app-editable>
        <!--                <input type="text" matInput [value]="element.description" />-->
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <td mat-cell class="tdcommon" *matCellDef="let element">
        <button class="" (click)="onClickDelete(element)" matSuffix mat-icon-button aria-label="Delete">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button class="add-passkey" color="basic" (click)="onClickAdd()">
    <mat-icon>add</mat-icon>New Passkey
  </button>

  <div class="error-msg">{{error}}</div>

  <span class="cred-spacer"></span>
  <button [style.display]="recoveryLink ? 'visible' : 'hidden'" mat-raised-button class="endbutton"
    aria-label="Copy Recovery" color="basic" (click)="toastMessage('Link Copied to Clipboard')"
    [cdkCopyToClipboard]="recoveryLink"
    matTooltip="Copy your recovery link to the clipboard. Save it in a secure location">
    <mat-icon>content_copy</mat-icon>Recovery Link
  </button>

  <button mat-raised-button class="endbutton" aria-label="Sign out" color="primary" (click)="onClickSignout()">
    <mat-icon>logout</mat-icon>Sign Out
  </button>
  <!--    <mat-divider [inset]="true"></mat-divider>-->

</div>