<div class="credentials">
  <p class="header">Passkeys for:
    <button class="refresh" mat-icon-button aria-label="Refresh" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
    <br />
    <app-editable class="username" minlength=6 maxlength=31 [value]="authSvc.userName!"
      (valueChanged)="onUserNameChanged($event)">
    </app-editable>
  </p>

  <table mat-table [dataSource]="passKeys" class="credtable">
    <ng-container matColumnDef="image">
      <td mat-cell class="tdcommon" [class.current-pk]="isCurrentPk(element.credentialId)" *matCellDef="let element">
        <img src="{{element.lightIcon}}" alt="{{element.name}}" matTooltip="{{element.name}}" class="cred-img" />
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <td mat-cell class="tdcommon tddescription" [class.current-pk]="isCurrentPk(element.credentialId)"
        *matCellDef="let element">
        <app-editable class="editable" minlength=6 maxlength=42 [value]="element.description"
          (valueChanged)="onDescriptionChanged($event, element)">
        </app-editable>
        <!--                <input type="text" matInput [value]="element.description" />-->
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <td mat-cell class="tdcommon" [class.current-pk]="isCurrentPk(element.credentialId)" *matCellDef="let element">
        <button class="" (click)="onClickDelete(element)" matSuffix mat-icon-button aria-label="Delete">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button class="add-passkey" autofocus color="basic" (click)="onClickAdd()">
    <mat-icon>add</mat-icon>New Passkey
  </button>

  <div class="error-msg">{{error}}</div>

  <span class="cred-spacer"></span>
  <mat-card class='old-recovery' appearance="outlined" *ngIf="oldRecovery">
    <mat-card-header>
      <mat-card-title>⚠️ Attention</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Your account is using the old backup and recovery mechanism.
        Click the Account Backup button below to update your account.
      </p>
    </mat-card-content>
  </mat-card>

  <a [routerLink]="'/showrecovery'">
    <button mat-raised-button class="endbutton" aria-label="Show Recovery Link" color="basic">
      <mat-icon>content_copy</mat-icon>Account Backup
    </button>
  </a>

  <button mat-raised-button class="endbutton strong-button" aria-label="Sign out" (click)="onClickSignout()">
    <mat-icon>logout</mat-icon>Sign Out
  </button>

</div>