@use "../common.scss";

/*
.container {
  display: flex;
  align-items: start;
  justify-content: center;
}

.content {
  padding: 30px;
  max-width: 723px;
}

@mixin doc-font {
  font-size: 16px;
  line-height: 22px;
}

.content p,
li {
  @include doc-font;
}

h2 {
  margin: 16px 0 6px 0;
}
*/