@use "../common.scss";
@use "@angular/material" as mat;

.control-host {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
  justify-content: space-evenly;

  .credential {
    min-width: 500px;
    @include mat.form-field-density(-1);
  }

  .task-button {
    @include common.strong-button;
    height: 45px;
    min-width: 280px;
    margin-top: 3px;
  }

}

.error-msg {
  color: darkred;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}


.lower-spinner {
  @extend .spinner;
  top: 35%;
}
