/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html {
  height: 100%;
}

// Light theme (default)
html.light-theme {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

// Dark theme
html.dark-theme {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

.signinBackdrop {
  top: 48px;
  background: rgba(0, 0, 0, 0.32);
}

:root,
html.light-theme,
html.dark-theme {
//  --mat-button-filled-container-color: green;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color:
        var(--mat-button-text-label-text-color, var(--mat-sys-primary)),
    )
  );

  // Material 3 set button label 'letter-spacing' to be too small IMO
  @include mat.button-overrides(
    (
      text-label-text-tracking: 0.06em,
      protected-label-text-tracking: 0.06em,
      protected-container-color: rgb(0, 92, 187, 0.08),
    )
  );

  // Material 3 made font-size small by default
  @include mat.menu-overrides(
    (
      item-label-text-size: 0.938rem,
    )
  );

  @include mat.dialog-overrides(
    (
      container-max-width: 900px,
    )
  );

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }

  --red-pwd-color: darkred;
  --yellow-pwd-color: darkgoldenrod;
  --green-pwd-color: darkgreen;
}

// Dark theme specific overrides
html.dark-theme {
  .signinBackdrop {
    background: rgba(255, 255, 255, 0.16);
  }
}