@use "../common.scss";

.button-column {
  margin-top: 35px;
  display: flex;
  height: 260px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.button {
  @include common.strong-button;
  margin-top: 15px;
  height: 45px;
  width: 330px;
  padding: 0;
  font-size: 15px;
}

.error-msg {
  color: darkred;
  height: 22px;
  margin-top: 32px;
  display: block;
}

.recovery {
  max-width: 568px;

  .header {
    margin: 0 0 1px 0;
  }

  .steps {
    padding-left: 18px;

    li {
      margin-bottom:10px;
    }
  }

  .inner-steps {
    padding-left: 18px;

    li {
      margin-top:4px;
    }
  }

  .dialog-content {
    @include common.doc-font;
    min-height: 350px;
    padding-top: 10px;
  }
}
