<div class="print-sheet">
  <h2>Quick Crypt Recovery Information</h2>
  <p>
    This information is needed to recover your account and decrypt your data if
    you lose access to your Quick Crypt passkeys.
    <b>
      Print and store this sheet offline somewhere that is physically secure and
      durable, such as a lockbox. Do not allow others to access this recovery
      sheet.
    </b>
  </p>

  <h3>User Name:</h3>
  <p class="sheet-value">{{ userName }}</p>
  <p>
    The name above was the user name for this account when this sheet was
    printed. It may have been changed since. You can print a new recovery sheet
    at {{ host }}/checkrecovery
  </p>

  <h3>Recovery Word Pattern:</h3>
  <p class="sheet-value">{{ recoveryWords }}</p>
  <p>
    This word pattern allows you to restore your account if you lose access to
    all your Quick Crypt passkeys. To restore your account, go to
    {{ host }}/recovery3 and enter the words in the exact order they appear
    above.
  </p>
  <p>
    If someone you do not trust gains access to your recovery words but has not
    used them, go to {{ host }}/regenrecovery and change your recovery word
    pattern. If an untrusted party has used or changed your recovery words, your
    encrypted data is still protected by encryption passwords, but your
    account's overall security is permanently weakened. We recommend creating a
    new Quick Crypt account, re-encrypting your data, and then deleting your
    previous account.
  </p>

  <h3>User Credential:</h3>
  <p class="sheet-value">{{ userCred }}</p>
  <p>
    Your user credential, along with your encryption passwords, is used to
    create the keys that encrypt and decrypt your data. Normally you do not need
    to know your user credential, but it is provided here for offline storage in
    case your Quick Crypt account is unintentionally deleted. If that ever
    happens, you can use the credential above with the Quick Crypt command-line
    tool to decrypt your data.
  </p>
  <p>
    Unlike the recovery word pattern, your user credential can never be changed.
    If this sheet is ever exposed to untrusted parties, your encrypted data is
    still protected by encryption passwords, but your account's overall security
    is permanently weakened. We recommend creating a new Quick Crypt account,
    re-encrypting your data, and then deleting your previous account.
  </p>
</div>
