@use "../common.scss";

.button-host {
  margin-top:50px;
  width:100%;
  display: flex;
  align-items: start;
  justify-content: center;

  button {
    height: 45px;
    width: 280px;
    margin-top: 5px;
  }

  .button2 {
    margin-left: 50px;
  }
}

