<div class="recovery">
  <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"
    [style.visibility]="showProgress ? 'visible' : 'hidden'">
  </mat-progress-spinner>
  <div *ngIf="validRecoveryLink">
    <p>Recovery is used to regain access to your user identity if you
      lost your Quick Crypto passkeys. Recovery removes information about all previous
      passkeys and creates a passkey for you. Once your new passky is created, you will
      be able decrypt information you previously encrypted.
    </p>
    <p *ngIf="currentUserName && !authenticated" class="descrip">
      There is an existing Quick Crypt user on this system called <b>"{{currentUserName}}"</b>.
      Instead of starting the recover process, you may want to try
      <a href="javascript:void(null);" role="button" (click)="onClickSignin()">
        signing in as <b>{{currentUserName}}</b>
      </a>
    </p>
    <p *ngIf="authenticated && selfRecovery" class="descrip">
      You are currently signed in as <b>"{{currentUserName}}"</b>, which this recovery link
      if for. Recovering this user
      identity will remove all existing passkeys and then create a new one. If you do not need to
      recover this user, click "Quick Crypt" in the toolbar.
    </p>
    <p *ngIf="authenticated && !selfRecovery" class="descrip">
      You are currently signed in as <b>"{{currentUserName}}"</b>, and this recovery link
      is for a different user. If you start the recovery process, you will be signed out
      and guided to create a new passkey for the recovered user identity.
    </p>

    <button mat-fab extended (click)="onClickStartRecovery($event)" color="primary" class="button">
      <span class="button-label">Start the recovery process</span>
    </button>
    <p class="error-msg">{{error}}</p>

  </div>
  <div *ngIf="!validRecoveryLink">
    <p>
      The recovery link is not valid<span [style.visibility]="error ? 'visible' : 'hidden'">
        &nbsp;because: <b>{{badlink}}</b></span>.
    </p>
    <p>
      You can try again by locating the recovery link that was provided to you when
      you created your user credentials or that you copied from the credentials side panel
      and paste it into your browser's address bar.
    </p>
    <p>
      If you have lost both your passkey and your recovery link, there is no way to regain
      access to existing user credentials or decrypt data that you encrypted previously. You can
      create a new Quick Crypt user, but the new user will not be able to decrypt already
      encypted data. If you locate the recovery link after creating a new user, you can
      still use it to regain access to the original user credentials later.
      Use the button below to create new user credentials
    </p>

    <a [routerLink]="'/newuser'">
      <button mat-fab extended color="primary" class="button">
        <span class="button-label">Create a new user from scratch</span>
      </button>
    </a>
    <button mat-fab extended (click)="onClickStartRecovery($event)" color="primary" class="button">
      <span class="button-label">Try the recovery process again</span>
    </button>
  </div>

</div>