@use "../common.scss";

.button-host {
  margin-top:50px;
  width:100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;

  button {
    @include common.strong-button;
    height: 45px;
    width: 280px;
    margin-top: 5px;
  }

}

